---
import PageHeader from "../../components/PageHeader.astro";
import SearchPanel from "../../components/SearchPanel.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getDictionary } from "../../utils/i18n";

const locale = "en" as const;
const dictionary = getDictionary(locale);
---

<MainLayout title={dictionary.search.title} description={dictionary.search.description} bodyClass="list">
	<section class="search-shell">
		<PageHeader title={dictionary.search.title} description={dictionary.search.description} />
		<SearchPanel />
	</section>
</MainLayout>
