---
import { siteConfig } from "../config";
import { getDictionary, resolveLocale } from "../utils/i18n";

const locale = resolveLocale(Astro.currentLocale);
const dictionary = getDictionary(locale);
const label = dictionary.a11y.backToTop;
---

<button class="top-link" type="button" aria-label={label} title={label} data-top-link>
	<span class="top-link__icon" aria-hidden="true">{siteConfig.icons.backToTop}</span>
</button>
