---
import { getDictionary, resolveLocale } from "../utils/i18n";

const locale = resolveLocale(Astro.currentLocale);
const dictionary = getDictionary(locale);
const label = dictionary.a11y.backToTop;
---

<button class="top-link" type="button" aria-label={label} title={label} data-top-link>
	<span aria-hidden="true">↑</span>
</button>

<script>
	import { mountBackToTop } from "../scripts/back-to-top";

	mountBackToTop();
</script>
