---
import { getDictionary, resolveLocale } from "../utils/i18n";
import type { PostEntry } from "../utils/posts";
import PostCard from "./PostCard.astro";

interface Props {
	posts: PostEntry[];
}

const locale = resolveLocale(Astro.currentLocale);
const dictionary = getDictionary(locale);
const { posts } = Astro.props;
---

{
	posts.length > 0 && (
		<section class="related-posts">
			<header class="page-header">
				<h2>{dictionary.post.relatedPosts}</h2>
			</header>

			<div class="related-posts__grid posts-grid posts-grid--narrow">
				{posts.map((post) => (
					<PostCard post={post} />
				))}
			</div>
		</section>
	)
}
