---
import type { SiteLocale } from "../utils/i18n";
import type { getTagIndex } from "../utils/posts";
import TagPill from "./TagPill.astro";

interface Props {
	locale: SiteLocale;
	tags: ReturnType<typeof getTagIndex>;
}

const { locale, tags } = Astro.props;
---

<ul class="terms-tags">
	{tags.map((tag) => (
		<li>
			<TagPill locale={locale} tag={tag.name} slug={tag.slug} count={tag.count} />
		</li>
	))}
</ul>
